@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Zen+Old+Mincho&display=swap');

body{
    color:white;
    font-family: "Kaushan Script", cursive;
}
.content{
    max-width: 50%;
    margin:auto;
}

.header-box{
    width:100%;
    height:25%;
    background-color:#474448;
    z-index:0;
    display:flex;
    padding:10px;
    align-items:center;
    justify-content:space-evenly;
}
img{
    width:90px;
    height:160px;
}

main{
    color:black;
}
.main-box{
    padding:10px;
    width:100%;
    z-index:0;
    height:50%;
    background-color:#F1F0EA;

}
.main-heading{
    text-align:center;
    font-weight: bold;
    font-size: x-large;
}

.footer-box{
    width:100%;
    height:10vh;
    background-color:#474448;
    z-index:0;
    display:flex;
    padding:10px;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
